
h1{
  text-align: center;
  color:white;
}

h2 {
  font-size: 140pt;
  text-align: center; 
  color: black;
}

#btns {
  margin: auto;
  background-color: black;
  display: block;
  padding: 20px;
  text-align: center;
}



#big {
  background-color: black;
  padding: 10px;

}



Button {
    padding: 20;  
}

