
body {
  background: linear-gradient(to bottom left, #2e2e2e 0%, #101010 85%);
}
h1{
  text-align: center;
  color:white;
}

h2 {
  font-size: 130pt;
  text-align: center; 
  color: lawngreen;
}

#lap{
  display: block;
  text-align: center;
  color: lawngreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30pt;
}

#btns {
  margin: auto;
  background-color: black;
  display: block;
  padding: 20px;
  text-align: center;
}



#big {
  background-color: black;
  padding: 10px;

}



Button {
    padding: 20;  
}

